:root {
  --main-color:#b9a496;
  --second-color:#e23d56;
  --third-color:#2c9daa;
  --light-grey: #d3d3d3;
  --white: #fffff0;
}

html, body {
/*  background: #2f3a40;*/
  background: #2b2b33;
  margin: 0px;
  height: 100vh;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-container {
  display: flex;
}

.main-container {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--white);
  font-family: OpenSans;
}

#menu {
  flex-direction: column;
  margin: auto;
  margin-right: 30px;
}

div > #menu-item-1 {
  color: var(--main-color);
}

div > #menu-item-2 {
  color: var(--second-color);
}

div > #menu-item-3 {
  color: var(--third-color);
}

@media (max-width: 600px) {
  #central-container {
    flex-direction: column-reverse;
  }
  #menu {
    flex-direction: row;
    margin: initial;
    justify-content: space-between;
  }
}

/* About page*/
.flex-item-50 {
  flex: 50%;
  margin: 30px;
}

h2 {
  text-align: center;
}

div > div.flex-item-50 > img {
  max-width: 100%;
  border-radius: 8px;
}

strong {
  color: var(--third-color);
  font-weight: 600;
}

.two-columns-container {
  width: 70%;
}

.center-items {
  align-items: center;
  justify-content: center;
}

@media (max-width: 960px) {
  .two-columns-container {
    flex-direction: column-reverse;
  }
}

/*CONTACT STYLES*/

/*label,input,button {
  display: block;
}*/

.form-container {
  width: 28%;
  max-width: 300px;
  min-width: 200px;
}

label,input,textarea {
  margin-top: 5px;
  margin-bottom: 5px;
}

input, textarea {
  width: 94%;
  border: 1px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--light-grey);
}

input {
  height: 20px;
}

textarea {
  height: 100px;
}

.submit {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
}

/*CONTACT SUCCESS STYLES*/
.main-menu-container {
  flex-direction: row;
  justify-content: space-between;
}

.central-container {
  min-width: 305px;
  width: 28%
}

/*WRITINGS & WORK STYLES*/

.central-container-2 {
  min-width: 305px;
  width: 40%;
}
